.sapUiTheme-sap_horizon_dark .notValid {
    border-left: 4px solid #fa6161;
}

.sapUiTheme-sap_fiori_3 .notValid {
    border-left: 4px solid #b00;
}

.sapUiTheme-sap_fiori_3_dark .notValid {
    border-left: 4px solid #f88;
}

.notValid {
    border-left: 4px solid #f53232;
}

.noBorderRadius {
    border-radius: 0 !important;
}

.noBorder {
    border: none !important;
}

.noOverflow .sapMPanelContent {
    overflow: hidden !important;
}

.maxWidth {
    max-width: 230px;
}

.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanS12) > .nepLabelLeftAlign,
.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanM12) > .nepLabelLeftAlign,
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanL12) > .nepLabelLeftAlign,
.sapUiRespGridMedia-Std-LargeDesktop.sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanXL12) > .nepLabelLeftAlign {
    text-align: left !important;
}

.nepMTableSortCell,
.nepMTableSortCell .sapMLabel {
    cursor: pointer;
}

.sapMListTblHeader > .sapMTableTH.nepMTableSortCell:hover {
    background-color: #ebf8ff;
}

.sapUiTheme-sap_horizon_dark .sapMListTblHeader > .sapMTableTH.nepMTableSortCell:hover,
.sapUiTheme-sap_fiori_3_dark .sapMListTblHeader > .sapMTableTH.nepMTableSortCell:hover {
    background-color: #1d2d3e;
}

.FormsTable .sapMListTblCell .sapUiIcon {
    line-height: 2.25rem;
}

.FormsTable .sapUiSizeCompact .sapMBtnIcon {
    line-height: 1.5rem !important;
}

.segmentedNoDefault .sapMSegBBtn:nth-child(2) .sapMSegBBtnInnerWrapper {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.segmentedNoDefault .sapMSegBBtn:nth-child(2) .sapMSegBBtnInnerWrapper .sapMSegBBtnInner {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

segmentedNoDefault .invisibleLi {
    display: none;
}

.textCentered .sapMInputBaseInner {
    text-align: center !important;
}

.innerDatePicker .sapMInputBaseIconContainer > span {
    font-family: SAP-icons;
    width: calc(100% - 8px)!important;
    text-align: end;
    padding-right: 8px;
}
.innerDatePicker .sapMInputBaseIconContainer {
    position: absolute;
    width: 100%;
    text-align: start;
}
.innerDatePicker.sapMInputBase:not(.sapMInputBaseDisabled).sapMInputBaseIconPressed .sapMInputBaseIconContainer .sapMInputBaseIcon, .sapMInputBase:not(.sapMInputBaseDisabled) .sapMInputBaseIconContainer .sapMInputBaseIcon:active {
    background-color: transparent;
}